name: Checks
on:
  pull_request:
    branches:
      - master
jobs:
  black:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
      - run: |
          python -m pip install --upgrade pip
          pip install -r development_requirements.txt
      - run: black --check --verbose .
  pytest:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: [3.11, 3.12, 3.13, 3.14]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
      - run: |
          python -m pip install --upgrade pip
          pip install -r development_requirements.txt
      #
      # Reference: https://thiagolopessilva.medium.com/running-unit-testing-on-github-action-using-pytest-61653d993c9c
      #
      - run: python -m pytest --import-mode=append tests/
